* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* header start */

header {
    text-align: center;
    margin-top: 30px;
}

h1, p {
    padding: 16px 8px;
}

h1 {
    font-size: 40px;
    color: #E53070;
}

/* main start */
.clearfix::after {
    content: " ";
    display : table;
    clear: both;
}

.container {
    height: 700px;
    padding-top: 20px;
}

.cards {
    float: left;
    width: 33.3%;
    padding: 16px;
}

.cards-col-body {
    background-color: black;
}

img {
    float: left;
    height: 110px;
}

.section-info {
    line-height: 30px;
    float: left;
    padding: 10px;
}

h2 {
    color: white;
    font-size: 17px;
}

.job {
    color: white;
    font-size: 14px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #4eb4e4;
    font-size: 14px;
}