* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

/* header start */

header {
    text-align: center;
    margin-top: 30px;
}

h1, p {
    padding: 16px 8px;
}

h1 {
    font-size: 40px;
    color: #E53070;
}

p {
    font-size: 20px;
}

/* main start */

.clearfix::after {
    content: " ";
    display : table;
    clear: both;
}

.container {
    padding-top: 10px;
}

.cards {
    float: left;
    width: 33.3%;
    padding: 16px 25px;
}

.cards-col-body {
    background-color: #0F0E17;
    box-shadow:  5px  5px 5px #dededec0,
                -5px -5px 5px #dededec0,
                5px -5px 5px #dededec0,
                -5px  5px 5px #dededec0;
}

img {
    float: left;
    height: 110px;
}

.section-info {
    line-height: 30px;
    float: left;
    padding: 10px 15px;
}

h2 {
    color: white;
    font-size: 20px;
}

.job {
    color: lightgray;
    font-size: 16px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #4eb4e4;
    font-size: 16px;
}